<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">春蚕教育</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li><a href="#">模拟考试</a></li>
			<li><a href="#">练习</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					资料
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">佛脚班</a></li>
					<li><a href="#">真题集获取</a></li>
					<li><a href="#"> Report</a></li>
					<li class="divider"></li>
					<li><a href="#">分离的链接</a></li>
					<li class="divider"></li>
					<li><a href="#">另一个分离的链接</a></li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
</nav>
<div class="container">
    <h1>春蚕教育兽医线上模拟考试</h1>

   <div class="row">
       <nav class="navbar navbar-default" role="navigation">
           <div class="col-md-4" style="background-color:lightblue;">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#example-navbar-collapse">
                    </button>
                    <a class="navbar-brand" href="#" style="color: black">考试系统</a>
                </div>
            </div>
            <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            A1,A2部分
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div>
                            <table width="100%" cellpadding="1" cellspacing="1">
                                    <tbody id="tb">
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                       <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                             <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <form action="#">
                                <input type="submit" value="提交" onclick=" return SubmitForm();"/>
                            </form>
                            <script>
                                function SubmitForm() {
                                    if($('#td input[type="checkbox"]')==)
                                    {
                                        //可以提交
                                        return true;
                                    }
                                    else {
                                        //不可提交，提示错误
                                         alert('还有未完成部分');
                                        return false;

                                    }
                                }
                            </script>
                                    <script src="jquery-3.3.1.js"></script>
                                    <script>
                                        function CheckAll() {
                                            $('#td input[type="checkbox"]').prop=('checked',true);
                                        }
                                        function CancelAll () {

                                                 $('#td input[type="checkbox"]').prop=('checked',false);
                                        }
                                        function ReverseAll() {

                                             $('#td input[type="checkbox"]').each(function (i) {
                                                 //this当前循环的每一个元素(标签)
                                                 //$(this)当前标签的jQuery对象
                                                 if($(this).prop('checked'))
                                                 // prop写两个参数是赋值，写一个参数是获取值
                                                 {
                                                     $(this).prop('checked',true)
                                                 }else{
                                                     $(this).prop('checked',false)
                                                 }

                                             });
                                        }
                                    </script>
                        </div>
                    </div>
                </div>
            </div>
                <div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseTwo">
					B1部分
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				<div>
                            <table width="100%" cellpadding="1" cellspacing="1">
                                    <tbody id="tb">
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                       <tr>
                                           <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <form action="#">
                                <input type="submit" value="提交" onclick=" return SubmitForm();"/>
                            </form>
                            <script>
                                function SubmitForm() {
                                    if($('#td input[type="checkbox"]')==)
                                    {
                                        //可以提交
                                        return true;
                                    }
                                    else {
                                        //不可提交，提示错误
                                         alert('还有未完成部分');
                                        return false;

                                    }
                                }
                            </script>
                                    <script src="jquery-3.3.1.js"></script>
                                    <script>
                                        function CheckAll() {
                                            $('#td input[type="checkbox"]').prop=('checked',true);
                                        }
                                        function CancelAll () {

                                                 $('#td input[type="checkbox"]').prop=('checked',false);
                                        }
                                        function ReverseAll() {

                                             $('#td input[type="checkbox"]').each(function (i) {
                                                 //this当前循环的每一个元素(标签)
                                                 //$(this)当前标签的jQuery对象
                                                 if($(this).prop('checked'))
                                                 // prop写两个参数是赋值，写一个参数是获取值
                                                 {
                                                     $(this).prop('checked',true)
                                                 }else{
                                                     $(this).prop('checked',false)
                                                 }

                                             });
                                        }
                                    </script>
                        </div>
                    </div>
                </div>
            </div>
			</div>
		</div>
       </nav>
	</div>
</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion"
				   href="#collapseThree">
					A3，A4部分
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				<div>
                            <table width="100%" cellpadding="1" cellspacing="1">
                                    <tbody id="tb">
                                        <tr>
                                             <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                             <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                       <tr>
                                             <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                             <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    <tr>
                                            <td>1</td>
                                            <td>2</td>
                                            <td>3</td>
                                            <td>4</td>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                        </tr>
                                    </tbody>
                            </table>
                            <form action="#">
                                <input type="submit" value="提交" onclick=" return SubmitForm();"/>
                            </form>
                            <script>
                                function SubmitForm() {
                                    if($('#td input[type="checkbox"]')==)
                                    {
                                        //可以提交
                                        return true;
                                    }
                                    else {
                                        //不可提交，提示错误
                                         alert('还有未完成部分');
                                        return false;

                                    }
                                }
                            </script>
                                    <script src="jquery-3.3.1.js"></script>
                                    <script>
                                        function CheckAll() {
                                            $('#td input[type="checkbox"]').prop=('checked',true);
                                        }
                                        function CancelAll () {

                                                 $('#td input[type="checkbox"]').prop=('checked',false);
                                        }
                                        function ReverseAll() {

                                             $('#td input[type="checkbox"]').each(function (i) {
                                                 //this当前循环的每一个元素(标签)
                                                 //$(this)当前标签的jQuery对象
                                                 if($(this).prop('checked'))
                                                 // prop写两个参数是赋值，写一个参数是获取值
                                                 {
                                                     $(this).prop('checked',true)
                                                 }else{
                                                     $(this).prop('checked',false)
                                                 }

                                             });
                                        }
                                    </script>
                        </div>
                    </div>
                </div>
            </div>
			</div>
       </nav>
   </div>
   </div>



</div>

<div class="container">
            <h1>了解我们</h1>
            <div class="row">
                <div class="col-md-3" style="background-color:lightgrey">
                    <h4>公司致力于发展全国最大规模的兽医教育研究系统</h4>
                    <p>
                        通过率最高的执业兽医资格考试辅导机构
                    </p>
                </div>
                <div class="col-md-9" style="background-color: lightgrey;">
                    <h4 style="display:inline-block">特色佛脚班介绍</h4>
                    <div class="row">
                        <div class="col-md-6" style="background-color: lightgrey;">
                            <p>
                               执兽考试佛脚班，22次课，44小时，
                                10位老师讲解全部15门课的重要考点。 迅速掌握核心考点！
                            </p>
                            <p>
                                现在报名立即赠送两套价值200元纸质教材！
                            </p>
                            <p>
                               听课方式:手机、电脑、平板，下载安装腾讯课堂APP
                            </p>

                        </div>
                        <div class="col-md-6" style="background-color: lightgrey;">
                            <p>
                                 。。。
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="background-color: lightgrey">
                            <p>
                                微信公众号：兽医小灶
                            </p>
                        </div>
                        <div class="col-md-6" style="background-color:  lightgrey;">
                            <p>
                                技术问题：18551662459
                            </p>
                        </div>
                    </div>
                </div>
            </div>
           </div>
       </nav>
    </div>
</div>


</body>
</html>